:root {
  --hot-pink: #ef0f97;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

.homebackground {
  background-color: black;
  height: 100%;
}

.homeimage {
  margin-bottom: 80%;
}

.homelayout {
  text-align: center;
}

.name {
  color: var(--hot-pink);
  font-family: "Streamster";
  font-size: 120px;
}

.title {
  color: var(--white);
  font-family: "Open Sans";
  padding: 0% 12%;
  font-size: 18px;
}



