:root {
  --hot-pink: #ef0f97;
  --white: #ffffff;
  --orange: #E54446;
}

* {
  margin: 0;
  padding: 0;
}

.homebackground {
  background-color: black;
  height: 100%;
}
 
 .homeimage {
  transform-origin:50% 50%;
  animation:15s rotateRight infinite linear; 
}

@keyframes rotateRight{
  100%{ transform:rotate(360deg); }
} 

.homelayout {
  text-align: center;
  padding-top: 5%;
}

.name {
  color: var(--hot-pink);
  font-family: "Streamster";
  font-size: 120px;
}

.title {
  color: var(--white);
  font-family: "Open Sans";
  padding: 0% 12%;
  font-size: 18px;
}

.aboutbackground {
  background-color: var(--orange);
}

.aboutflex {
  display: flex;

}

.about_text_flex {
  color: white;
  padding: 1% 5%;
}

p {
  padding-top: 9%;
}

.headshot {
  height: 550px;
  width: auto;
}

.hey {
  font-family: 'La Belle Aurore', cursive;
  font-size: 100px;
}

a {
  text-decoration: none;
}


