.headshot {
  height: 100%;
  width: auto;
  display: inline;
  position: relative;
  border-radius: -50%;
}

.headshot-crop {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  height: 3em;

  justify-content: center;
  margin: 0% 18%;
}

.nav-button {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin: 0% 5%;
  width: 150px;
  color: black;
  background-color: white;
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 15%;
  outline: none !important;
}

.nav-button:hover {
  background-color: black;
  color: white;
}

.header {
  font-size: 60px;
  color: black;
  text-align: center;
  font-family: "Cormorant", serif;
  font-weight: 800;
  text-decoration: none;
}

.AboutMe {
  display: flex;
  flex-direction: row;
  margin: 2% 10% 10% 18%;
}

.name {
  font-family: "Cormorant", serif;
  font-weight: 800;
  margin: 10% 15% 1% 20%;
  font-size: 35px;
}

.title {
  font-family: "Cormorant", serif;
  font-weight: 500;
  margin: 0% 15% 1% 20%;
}

.brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.Welcome {
  font-family: "Montserrat", sans-serif;
}

.footer {
  height: 130px;
  width: 100%;
  background-color: grey;
}


.project-flex {
  display: flex;
  flex-direction: row;
  padding: 0% 2%;
}

.project-card {
  display: flex;
  flex-direction: column;
  margin: 5%;
  height: 35rem;
  background-color: rgb(3, 4, 59);

  width: 85%;
  color: white;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
}

.API-Link {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-style: italic;
  text-decoration: none;
}

.projects-header {
  font-family: "Montserrat", sans-serif;
  margin: 10% 0% 0% 10%;
  font-size: 35px;
}

.languages-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.other-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 4% 0% 0% 10%;
}

.website-buttons {
  display: flex;
  flex-direction: row;
  padding: 10% 5% 4% 5%;
}

.resume {
  background-color: black;
  color: white;
  font-size: 25px;
  padding: 1% 5%;
}

.Contact-flex {
  display: flex;
  flex-direction: column;
  padding-left: 25%;
  padding-top: 7%;
  font-family: "Montserrat", sans-serif;
}

.project-name {
  padding-left: 5%;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  text-decoration: double underline;
}

.projects-description {
  padding: 0% 5%;
}

.languages {
  padding: 0% 25% 0% 8%;
}

.btn-outline-light {
  color: white;
  background-color: transparent;
  border: 2px white solid;
  margin-right: 15px;
  width: 11em;
  height: 3em;
  font-size: 16px;
  text-transform: uppercase;
  transition: 1s ease-in-out;
}

.btn-outline-light:hover {
  color: rgb(3, 4, 59);
  background-color: white;
  background-position: -100% 0;
}

.btn-github-link {
  color: white;
  background-color: transparent;
  border: 2px white solid;
  width: 12em;
  height: 3em;
  font-size: 16px;
  transition: 1s ease-in-out;
  text-transform: uppercase;
}

.btn-github-link:hover {
  color: rgb(3, 4, 59);
  background-color: white;
  background-position: -100% 0;
}

.btn-github-link-back-end {
  color: white;
  background-color: transparent;
  border: 2px white solid;
  width: 11em;
  height: 3em;
  font-size: 16px;
  margin-left: 6em;
  margin-top: 4%;
  text-transform: uppercase;
  transition: 1s ease-in-out;
}

.btn-github-link-back-end:hover {
  color: rgb(3, 4, 59);
  background-color: white;
  background-position: -100% 0;
}

.language-title {
  font-weight: 600;
  text-decoration: underline;
}

.Link-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5% 0% 0% 5%;
}

.contact-flex-1 {
  display: flex;
  flex-direction: column;
  padding: 8% 0% 4% 25%;
  font-family: "Montserrat", sans-serif;
}

.contact-flex-2 {
  display: flex;
  flex-direction: row;
  padding-left: 25%;
  font-family: "Montserrat", sans-serif;
}

.contact-flex-3 {
  padding: 10% 0% 40% 5%;
}

.Welcome-info {
  display: flex;
  flex-direction: column;
  padding: 7% 5% 0% 8%;
}

.contact-name {
  font-family: "Cormorant", serif;
  font-weight: 800;
  font-size: 35px;
}

.contact-title {
  font-family: "Cormorant", serif;
  font-weight: 500;
}

.project-image {
  height: 70%;
  width: 55%;
  padding-top: 10%;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
  .name {
    font-size: 15px;
  }

  .nav-button {
    width: 60px;
    font-size: 10px;
  }
  .projects-header {
    font-size: 18px;
  }

  .project-card {
    width: 280px;
    height: auto;
  }

  .project-name {
    font-size: 14px ;
  }

  .projects-description {
    font-size: 10px;
  }

  .language-title {
    font-size: 10px;
  }

  li {
    font-size: 9px;
  }

  .btn-outline-light {
    font-size: 10px;
  }

  .btn-github-link {
    font-size: 10px;
    width: auto;
  }
  .btn-github-link-back-end {
    font-size: 10px;
    width: auto;
  }

  .website-buttons {
    display: flex;
    flex-direction: column;
  }

  .project-flex {
    display: flex;
    flex-direction: column;
  }

  
  .headshot-crop {
    height: 100px;
    width: 100px;
  }

  .contact-name {
    font-size: 14px;
  }
  .contact-title {
    font-size: 12px;
  }

  h3 {
    font-size: 12px;
  }

  .contact-flex-2 {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
  }
}